<div>	
	<div class="container">
        <div class="row">
            <div class="allPollsContent">
	            <div class="tableLayout" ng-show="showPollsTable">
        			<form class="search-form form-group" action="javascript:void(0);" method="GET">
    					<input ng-model="searchText" name="q" type="text" class="search-box form-control pull-right" placeholder="Search polls">
        			</form>
	            </div>
	            <table class="table table-bordered" ng-show="showPollsTable">
	            	<tbody>
	            		<tr>
	            			<td class="pollQuestion tableSortHeader" ng-click="changeSort('question')">
	            				<span>Poll Question</span>
	            				<span ng-show="sortPollsBy == 'question' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
        						<span ng-show="sortPollsBy == 'question' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        						<span ng-show="sortPollsBy != 'question'" class="glyphicon glyphicon-triangle-right transparent"></span>
        					</td>
	            			<td class="voteCount tableSortHeader" ng-click="changeSort('totalVotes')">
	            				<span>Vote Count</span>
	            				<span ng-show="sortPollsBy == 'totalVotes' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
        						<span ng-show="sortPollsBy == 'totalVotes' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        						<span ng-show="sortPollsBy != 'totalVotes'" class="glyphicon glyphicon-triangle-right transparent"></span>
	            			</td>
	            			<td class="pollActions">Actions</td>
	            		</tr>
	            		<tr ng-repeat="poll in allPolls | filter: tableFilter | orderBy: sortPollsBy:sortReverse" class="pollRow">
	            			<td class="pollQuestion">{{ poll.question }}</td>
	            			<td class="voteCount">{{ poll.totalVotes }}</td>
	            			<td class="pollActions">
	            				<button class="btn btn-large btn-info" type="button" ng-click="editPoll(poll._id)">Edit</button>
	            				<button class="btn btn-large btn-info" type="button" ng-click="vote(poll._id)">Vote</button>
	            				<button class="btn btn-large btn-info" type="button" ng-click="viewResults(poll._id)">View Results</button>
	            				<button class="btn btn-large btn-danger deletePollButton" type="button" ng-click="delete(poll._id)">Delete</button>
	            			</td>
	            		</tr>
	            	</tbody>
	            </table>

	            <div class="noPolls" ng-show="showNoPollsMessage">
		            <p>No polls yet. Click the button below to create your first poll.</p>

	                <form id="getStartedForm" role="form" ng-submit="getStarted()">
					    <div class="form-group">
					        <button type="submit" class="btn btn-lg btn-success">Create a new poll</button>
					    </div>
					</form>
				</div>

				<div class="errorMessages">
                    <div class="errorMessage" ng-show="showErrorMessageCannotGetPolls">Sorry! We weren't able to load your polls at the moment.<br>Please try again later.</div>
                </div>
            </div>
        </div>
    </div>
</div>