<div>	
	<div class="container">
        <div class="row">
            <div class="text-center createPollContent">
                <form id="createPollForm" role="form" ng-submit="createPoll()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="questionText" placeholder="Question Text" ng-model="questionText">
                    </div>
                    <div class="form-group" ng-repeat="choice in choices track by $index">
                        <input type="text" class="form-control answerChoice" id="{{'choice' + $index}}" placeholder="Write your choice here" ng-model="choices[$index]" ng-model-options="{ updateOn: 'blur' }">
                        <button type="button" class="btn btn-default btn-danger plus-minus" aria-label="Remove Choice" ng-click="removeChoice($index)">
                        	<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-success plus-minus" aria-label="Add Choice" ng-click="addChoice($index)">
                        	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <div class="arrowButtonsContainer">
                            <button type="button" class="btn btn-grey arrows arrow-top" aria-label="Move Choice Up" ng-click="moveChoice($index, 'up')">
                                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-grey arrows arrow-bottom" aria-label="Move Choice Down" ng-click="moveChoice($index, 'down')">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="checkbox">
                    	<label>
                        	<input type="checkbox" class="form-control" id="allowNewChoices" ng-model="allowNewChoices"> Allow voters to add new choices
                    	</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success">Create poll</button>
                    </div>

                    <div class="errorMessages">
                        <div class="errorMessage" ng-show="showErrorMessageMissingQuestionText">Please enter some question text</div>
                        <div class="errorMessage" ng-show="showErrorMessageLessThanTwoChoices">Please include at least two answer choices</div>
                        <div class="errorMessage" ng-show="showErrorMessageEmptyChoices">One or more of your choices are empty</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>