<div>
	<div class="container">
	    <div class="row">
	        <div class="text-center welcomeText">
				<h2>Welcome to Totes Votes!</h2>
				<br>
				<p>This polling app allows you to create polls that anybody can take. Simply add in your answer choices and send out the link to your audience. Then, sit back and watch the results come in.</p>
				<br>
				<p>Click the button below to get started.</p>
				<br>
				<form id="getStartedForm" role="form" ng-submit="getStarted()">
				    <div class="form-group">
				        <button type="submit" class="btn btn-lg btn-success">Create a new poll</button>
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>